

.my-hash {
    text-align: left;
    margin-left: 8.2%;
    margin-bottom: 4%;
    flex-direction: column;
}
.my-h2 {
    font-family: 'Poppins', sans-serif;
    color: #1B2746;
    font-weight: 900;
    font-size: 220%;
}
.my-p {
    font-family: 'Poppins', sans-serif;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    gap: 25px; 
    margin-right: 50%;
    margin-left: 8%;
}
  
  .Aform {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  

  .Aform select,
  .Aform input[type="text"],
  .Aform input[type="tel"] {
    width: 100%;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  

  .Aform label {
    display: flex;
  }

  .my-check {
    display: flex;
  }

  .my-f-b {
    margin-left: 8%;
    display: flex;
  }

  .form-check-label {
    margin-right: 70%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: flex;
  }

  .my-button {
    margin-right: 69%;
    margin-bottom: 4%;
    background-color: rgb(255, 204, 0);
    border-color: rgb(255, 204, 0);
    font-size: large;
}

.groupDoct {
    width: 550px;
    height: 550px;
    position: absolute;
    margin-top: -32%;
    margin-left: -32%;
  }

  .doctImg {
    margin-right: 90%;
  }
  
  .mb-3 {
    margin-top: -3%;
  }

  .se-passe {
    font-family: 'Poppins', sans-serif;
    color: #1B2746;
    font-weight: 900;
    font-size: 220%; 
    margin-top: 5%;
  }

  .passe-p {
    font-family: 'Poppins', sans-serif;
    margin-top: 1%;
    font-size: large;
  }
 
  .fichier-div {
    margin-top: -3.2%;
  }

  .fich-doc {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }

  .paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
  }

  .para {
    justify-content: center;
    margin-left: 28%;
    margin-right: 28%;
    margin-bottom: 8%;
  }